body {
    font-family: 'Lato', sans-serif;
    color: #2d3c49;
    font-weight: 300;
}

hr {
    height: 20px;
    border-width: 4px;
}

a:link {
    text-decoration: none;
}

.text-muted {
    color: #7d97ad;
}

.text-thin {
    font-weight: 100;
}

.title-super {
    font-size: 60px;
}

.title-logo{
    margin-top: 20px;
}

.link-modal {
    color:#02b3e4;
}


 @media screen and (max-width: 768px) {
     .title-super {
        font-size: 3em;
    }

    .title-sub {
        font-size: 1em;
    }


    .link-featured {
        font-size: 1.9em;
    }
}


@media screen and (max-width: 480px) {
    .title-super {
        font-size: 35px;
    }

    .title-sub {
        font-size: 15px;
    }

    .project-name {
        font-size: 1.5em;
    }

    .link-featured {
        font-size: 0.75em;
    }
}